<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m<br />
        Leah Hartman</h1>
        <p>Your local nerd...who happens to be obsessed with Physics :D</p>
      </header>
      <p>I am an Applied Physics Ph.D. Pre-Candidate researching high-power laser interactions with plasma at the <a href="https://umich.edu/">University of Michigan</a>. I'm interested in all things plasma and accelerator physics, but also have an interest in programming, computer/server equipment, and electronics in general.</p>
      <p>Aside from academics, I enjoy getting outside on my motorcycle, writing blogs about various physics and tech topics, and working on my homelab.</p>
      <h4>Non-academic projects I'm currently working on:</h4>
      <ul>
        <li>Building an 8-bit CPU from scratch (á la <a href="http://eater.net/">Ben Eater</a>)</li>
        <li>Three-node K3s cluster for my homelab</li>
        <li>Plex server and NAS for my homelab</li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/profpic.jpeg" alt="" />
    </span>
  </section>
